demos/3.12_apkcombo.com/*
~$ercise 1.docx
demos/beeper
.~lock.*
~$ברוכים הבאים.pptx
demos/~$כום IDOR.docx
~$עורי בית.docx
exercises/__pycache__/jwt-demo.cpython-310.pyc
exercises/__pycache__/demo.cpython-310.pyc
exercises/__pycache__/app.cpython-310.pyc
